:root {
  /* Text Colors */
  --text-main-color: #f8f8f8;
  --text-main-hover: #dfdfdf;

  /* Nav Colors */
  --nav-bg-color: #013973;
  --nav-border-color: #0f263e;

  /* Info Nav Colors */
  --infonav-bg-color: #282828;

  /* Landing Colors */
  --landing-gradient-color: #0856a6;
  --landing-span-color: #efd12b;
  overflow-x: hidden;

  /* Feature Colors */
  --feature-bg-color: #f4f4f4;
}

body {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: var(--nav-bg-color);
  color: var(--text-main-color);
  padding: 10px;
  border-bottom: 2px solid white;
}

nav a {
  color: var(--text-main-color);
  font-weight: 500;
  padding: 0 20px 0 20px;
}

.active,
nav a:hover {
  color: var(--text-main-hover);
  text-decoration: none;
  border-bottom: 5px solid var(--nav-border-color);
}

nav img {
  width: 250px;
}

.nav-arrow {
  color: #013973;
  width: 12px;
}

.small-nav {
  color: var(--text-main-color);
  font-weight: 500;
  padding-left: 20px;
}

.landing-div {
  background-image: linear-gradient(
    to bottom right,
    var(--nav-bg-color),
    var(--landing-gradient-color)
  );
}

.landing-div span {
  color: var(--landing-span-color);
}

.landing-img {
  width: 100%;
  padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-main-color);
}

span {
  font-weight: 700;
}

#info-nav {
  padding: 10px;
  background-color: var(--infonav-bg-color);
}

#info-nav a {
  color: var(--text-main-color);
  font-weight: 500;
  padding: 0 20px 0 20px;
}

#info-nav h5 {
  font-weight: 700;
}

#info-nav h5 span {
  font-size: 1.5em;
  font-weight: 500;
}

.video-div h1 {
  color: black;
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comparison-div {
  background-image: linear-gradient(
    to top left,
    var(--nav-bg-color),
    var(--landing-gradient-color)
  );
}

.electric-div {
  background-image: linear-gradient(
    to bottom right,
    var(--nav-bg-color),
    var(--landing-gradient-color)
  );
}

.comparison-card {
  border: 2px var(--nav-bg-color) solid;
  border-radius: 5px;
}

.comparison-card p {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 1.5em;
}

.comparison-card h4 {
  color: var(--text-main-color);
}

.comparison-div h4 {
  font-size: 2em;
  font-weight: 500;
}

.comparison-wrap img {
  width: 100%;
}

.comparison-desc > div > div {
}

.comparison-desc img {
  width: 16px;
}

.features-div h1 {
  color: black;
}

.feature-button {
  color: black;
  display: inline-block;
  font-weight: 700;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.feature-button:hover,
.feature-active {
  background-color: var(--feature-bg-color);
  color: black;
  text-decoration: none;
}

.feature-content {
  background-color: var(--feature-bg-color);
  border: 1px var(--text-main-hover) solid;
}

.feature-content h2,
p {
  color: black;
}

.feature-description {
  padding: 10px;
}

.feature-description > .row {
  padding: 10px;
}

.feature-description p {
  border-bottom: 1px var(--text-main-hover) solid;
}

.feature-image {
  padding: 10px;
  width: 100%;
  border-right: 1px var(--text-main-hover) solid;
}
