/*
  *********************************
  DOCUMENT ORDER
  *********************************
  1. :root variables and overflow
  2. Initalise tags
  3. Global classes
  4. Main navigation
  5. Dropdown nav menu
  6. Mobile nav menu
  7. Footer
  8. Small nav
  9. Info nav
  10. Landing section
  11. Video section
  12. Features section
  13. Going electric section
  14. Enquiry section
*/

:root {
  /*
  
      ROOT VAIRABLE DECLARATION
      All variables have been set here
  
  */

  /***** TEXT COLORS *****/
  /* Main Text Color */
  --text-main-color: #f8f8f8;
  /* Hover Text Color */
  --text-main-hover: #dfdfdf;
  /* Yellow Text Color */
  --landing-span-color: #efd12b;

  /***** NAVIGATION COLORS *****/
  /* Navigation background color */
  --nav-bg-color: #013973;
  /* Navigation border color */
  --nav-border-color: #0f263e;
  /* Dropdown background color */
  --dropdown-bg-color-hover: #ddd;

  /***** INFO NAVIGATION COLORS *****/
  /* Info Background Color */
  --infonav-bg-color: #282828;

  /***** LANDING COLORS *****/
  /* Landing gradient background color */
  --landing-gradient-color: #0856a6;

  /***** FEATURE SECTION COLORS *****/
  /* Feature Background Color */
  --feature-bg-color: #f4f4f4;
  /* Feature Border Color */
  --footer-border-color: #013367;

  /***** FIXING OVEFLOW *****/
  overflow-x: hidden;
}

/***** INITALISE TAGS *****/

a {
  color: white;
}

a.disabled {
  color: white;
}

body {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-main-color);
}

span {
  font-weight: 700;
}

strong {
  color: var(--text-main-color);
}

/***** GLOBAL CLASSES *****/
.button-wrap {
  padding: 10px 0 20px 0;
}

.text-link:hover,
.text-link:active {
  color: var(--landing-span-color);
}

.wrap-img {
  width: 100%;
}

/***** MAIN NAVIGATION BAR *****/
nav {
  background-color: var(--nav-bg-color);
  border-bottom: 2px solid white;
  color: var(--text-main-color);
  padding: 10px;
}

nav a {
  color: var(--text-main-color);
  font-size: 1.2em;
  font-weight: 700;
  padding: 0 20px 0 20px;
}

.active,
nav a:hover {
  border-bottom: 5px solid var(--nav-border-color);
  color: var(--landing-span-color);
  text-decoration: none;
}

/***** DROPDOWN NAV DESKTOP *****/

/* Initalise dropdown */
.dropdown-menu-cars,
.dropdown-menu-vans,
.dropdown-menu-electric,
.dropdown-menu-services {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu-cars a,
.dropdown-menu-vans a,
.dropdown-menu-electric a,
.dropdown-menu-services a {
  color: black;
  display: block;
  float: none;
  padding: 10px;
  text-decoration: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-menu-cars a:hover,
.dropdown-menu-vans a:hover,
.dropdown-menu-electric a:hover,
.dropdown-menu-services a:hover {
  background-color: var(--dropdown-bg-color-hover);
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown-cars:hover .dropdown-menu-cars {
  display: block;
}
.dropdown-vans:hover .dropdown-menu-vans {
  display: block;
}
.dropdown-electric:hover .dropdown-menu-electric {
  display: block;
}
.dropdown-services:hover .dropdown-menu-services {
  display: block;
}

/***** MOBILE NAV MENU *****/
#mobile-nav {
  background-color: var(--nav-bg-color);
}

#mobile-nav a {
  color: var(--text-main-color);
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  padding: 20px;
}

#mobile-nav a:active,
#mobile-nav a:hover {
  color: var(--landing-span-color);
  text-decoration: none;
}

#mobile-cars-dropdown,
#mobile-vans-dropdown,
#mobile-electric-dropdown,
#mobile-services-dropdown {
  background-color: var(--nav-border-color);
  text-decoration: none;
}

/***** FOOTER *****/

footer {
  background-color: var(--nav-bg-color);
  color: var(--text-main-color);
}

footer img {
  width: 75%;
}

footer p {
  color: var(--text-main-color);
}

.footer-links a {
  border-bottom: 1px var(--footer-border-color) solid;
  color: var(--text-main-color);
  display: block;
  padding: 10px;
}

.footer-links a:hover,
.footer-links a:active {
  color: var(--landing-span-color);
  text-decoration: none;
}

/***** SMALL NAV bellow main header  *****/

nav img {
  width: 250px;
}

.nav-arrow {
  width: 12px;
}

.small-nav {
  color: var(--text-main-color);
  font-weight: 500;
  padding-left: 20px;
}

.small-nav a {
  color: var(--text-main-color);
  font-size: 1.1em;
  font-weight: 700;
}

.small-nav a:hover,
.small-nav a:active {
  color: var(--landing-span-color);
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
}

/***** INFO NAV *****/

#info-nav {
  color: white;
  padding: 10px;
  background-color: var(--infonav-bg-color);
}

#info-nav a {
  font-size: 1.05em;
  font-weight: 700;
  padding: 0 20px 0 20px;
}

#info-nav a:hover,
#info-nav a:active,
.info-nav-active {
  color: var(--landing-span-color);
  text-decoration: none;
}

.info-nav-active {
  font-size: 1.1em;
}

#info-nav h5 {
  font-weight: 700;
}

#info-nav h5 span {
  font-size: 1.5em;
  font-weight: 500;
}

.info-nav-active {
  color: var(--landing-span-color);
}

/***** LANDING DIV *****/
.landing-div {
  background-image: linear-gradient(
    to bottom right,
    var(--nav-bg-color),
    var(--landing-gradient-color)
  );
}

.landing-div span {
  color: var(--landing-span-color);
}

.landing-img {
  width: 100%;
  padding: 25px;
}

/***** VIDEO SECTION *****/

.video-div h1 {
  color: black;
}

/* Youtube Wrapper, to keep youtube video responsive */
.youtube-wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***** COMPARISON SECTION *****/

.comparison-div {
  background-image: linear-gradient(
    to top left,
    var(--nav-bg-color),
    var(--landing-gradient-color)
  );
}

.comparison-card {
  border: 2px var(--nav-bg-color) solid;
  border-radius: 5px;
}

.comparison-card p {
  color: var(--text-main-color);
  font-size: 1.1em;
  font-weight: 500;
}

.comparison-card h4 {
  color: var(--text-main-color);
}

.comparison-div h4 {
  font-size: 2em;
  font-weight: 500;
}

.comparison-wrap img {
  width: 100%;
}

.comparison-desc img {
  width: 16px;
}

/***** FEATURES SECTION *****/

#features-div h1 {
  color: black;
}

.feature-button {
  color: black;
  display: inline-block;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.feature-button:hover,
.feature-active {
  background-color: var(--feature-bg-color);
  color: black;
  text-decoration: none;
}

.feature-content {
  background-color: var(--feature-bg-color);
  border: 1px var(--text-main-hover) solid;
}

.feature-content h2,
p {
  color: black;
}

.feature-description,
.feature-description-sm {
  padding: 10px;
}

.feature-description > .row {
  padding: 10px;
}

.feature-description p,
.feature-description-sm p {
  border-bottom: 1px var(--text-main-hover) solid;
}

.feature-image {
  border-right: 1px var(--text-main-hover) solid;
  padding: 10px;
  width: 100%;
}

/* Mobile section of features */

.feature-image-sm {
  padding: 10px;
  width: 100%;
}

#learn-more-key,
#learn-more-interior,
#learn-more-exterior,
#learn-more-saftey {
  background-color: var(--nav-bg-color);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

/***** ELECTRIC SECTION *****/

.electric-div {
  background-image: linear-gradient(
    to bottom right,
    var(--nav-bg-color),
    var(--landing-gradient-color)
  );
}

.electric-div img {
  width: 100%;
}

.electric-div p {
  color: white;
}

.text-link {
  color: var(--text-main-hover);
  text-decoration: underline;
}

/***** ENQUIRY SECTION *****/

.enquiry-div {
  background-color: var(--infonav-bg-color);
}

.enquiry-div h1,
.enquiry-div h2,
.enquiry-div h3,
.enquiry-div h4,
.enquiry-div h5 {
  color: var(--text-main-color);
}

/* Form layout and look */
form {
  background-color: white;
  color: black;
  padding: 20px;
}

form button {
  background-color: var(--nav-bg-color);
  border-radius: 25px;
  color: var(--text-main-color);
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

form label {
  color: black;
  font-weight: 700;
}
